.layer-wrapper(
	'[style.height.px]'='layer.height * coefficient',
	'[style.width.px]'='layer.width * coefficient',
	'[style.top.px]'='layer.startY * coefficient',
	'[style.left.px]'='layer.startX * coefficient',
	'[style.transform]'='"rotate(" + layer.angle + "rad)"',
	'[class.selected]'='active'
)
	img(
		'#image'='',
		'[src]'='layer.src',
		'(dragstart)'='$event.preventDefault()',
		'(mousedown)'='dragBeacon.emit(true)'
	)

	.control-toolbox('*ngIf'='active')
		.control-tool.control-rotate(
			'(mousedown)'='rotateBeacon.emit(true)',
			title='rotate'
		)
		.control-tool.control-resize.control-resize_top-left(
			'(mousedown)'='resizeBeacon.emit("top-left")',
			title='transform top-left'
		)
		.control-tool.control-resize.control-resize_top-right(
			'(mousedown)'='resizeBeacon.emit("top-right")',
			title='transform top-right'
		)
		.control-tool.control-resize.control-resize_middle-top(
			'(mousedown)'='resizeBeacon.emit("middle-top")',
			title='transform middle-top'
		)
		.control-tool.control-resize.control-resize_middle-left(
			'(mousedown)'='resizeBeacon.emit("middle-left")',
			title='transform middle-left'
		)
		.control-tool.control-resize.control-resize_middle-right(
			'(mousedown)'='resizeBeacon.emit("middle-right")',
			title='transform middle-right'
		)
		.control-tool.control-resize.control-resize_middle-bottom(
			'(mousedown)'='resizeBeacon.emit("middle-bottom")',
			title='transform middle-bottom'
		)
		.control-tool.control-resize.control-resize_bottom-left(
			'(mousedown)'='resizeBeacon.emit("bottom-left")',
			title='transform bottom-left'
		)
		.control-tool.control-resize.control-resize_bottom-right(
			'(mousedown)'='resizeBeacon.emit("bottom-right")',
			title='transform bottom-right'
		)
